# 忽略所有视频文件
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.pptx
*.xlsx
# 忽略所有图片文件
*.png
*.jpg
*.jpeg                                             
*.gif
*.bmp
*.tiff
*.ico

# 忽略临时文件
*.tmp
*.temp
*~

# 忽略Excel临时文件
.~*.xlsx
.~*.xls

# 忽略Python缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.pytest_cache/
cuted/
# 忽略IDE文件
.vscode/
.idea/
*.swp
*.swo

# 忽略系统文件
.DS_Store
Thumbs.db